<header class="site-navbar site-navbar-target" role="banner">

    <div class="container-fluid">
        <div class="d-flex justify-content-between">

            <div class="site-logo">
                <img class="logo" src="assets/img/logo.png" alt="logo" routerLink="">
            </div>
            <div>
                    <a class="h5 black text-center pointer">Shrink URL</a>
                
                <button class="btn loginbtn m-2" routerLink="/login">Login</button>
                <button class="btn signupbtn " routerLink="/signup">SignUp</button>
            </div>
        </div>
    </div>

</header>