.logo{
    width:12rem;
    position:relative;
    top:-30%;
    cursor:pointer;
}
.loginbtn{
    color:#FFFFFF;
    background-color: #F78812;
    font-weight:bold ;
}
.signupbtn{
    color:#FFFFFF;
    font-weight:bold ;
    background-color:#334756;
}
.background{
    width:50rem;
    z-index: -1;
    position:fixed;
    right:-4rem;
    top: 1rem;
}
.bold{
    font-weight: bold;
}
.grey{
    color: #52616B;
}
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a, a:hover {
      text-decoration: none !important; }
