
<div class="container-fluid p-4">
    <div>
        <p class="display-1 bold">A Simple link</p>
        <p class="display-1 bold">but a powerful <span class="gradient">tool .</span> </p>
    </div>
    <p class="h3 w-50 grey typewriter">Our tool allows you to seamlessly keep a track of your simple and
        easy-to-remember shortned powerful links. </p>
    <div class="mt-4">
        <a class="tryNow" routerLink="/URLShortener">Try Now</a>
        <button class="btn btn-lg loginbtn" routerLink="/login">Login</button>
        <button class="btn btn-lg signupbtn " routerLink="/signup">SignUp</button>
    </div>
    <img class="background" src="./assets/img/graph.png" alt="">

</div>