  
.logo{
    width:12rem;
    position:relative;
    top:-30%;
}
.loginbtn{
    color:#FFFFFF;
    background-color: #F78812;
    font-weight:bold ;
    margin-left: 1rem;
    margin-right: 1rem;
}
.signupbtn{
    color:#FFFFFF;
    font-weight:bold ;
    background-color:#334756;
}
.background{
    width:50rem;
    z-index: -1;
    position:fixed;
    right:-4rem;
    top: 1rem;
}
.bold{
    font-weight: bold;
}
.grey{
    color: #52616B;
}
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a, a:hover {
      text-decoration: none !important; }

.gradient{
    background:linear-gradient(to right, #30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.tryNow{
    padding:5px 5px 0 0;
    margin-top: 10px;
    font-size:1.5rem;
    font-weight: 900;
    color:black;
    cursor:pointer;


}